<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Elemento de navegação principal -->
    <a class="navbar-brand" href="#">Meus Clientes</a>
    <!-- Título da barra de navegação (nome da marca) -->
    
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <!-- Botão para alternar a exibição da barra lateral (sidebar) -->
        <i class="fas fa-bars"></i>
        <!-- Ícone de "menu" (três barras horizontais) que representa o botão do menu -->
    </button>
</nav>
