<!-- Este div encapsula toda a navegação lateral do layout do sistema -->
<div id="layoutSidenav_nav">
    
    <!-- O elemento <nav> define a barra de navegação lateral -->
    <!-- As classes 'sb-sidenav', 'accordion' e 'sb-sidenav-dark' estilizam a navegação -->
    <!-- 'sb-sidenav-dark' indica que o estilo do menu será escuro, enquanto 'accordion' sugere que os submenus podem ser expandidos ou colapsados -->
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        
        <!-- Este div agrupa o conteúdo do menu de navegação -->
        <div class="sb-sidenav-menu">
            
            <!-- Este div contém todos os links de navegação dentro do menu -->
            <div class="nav">
                
                <!-- Este div é um cabeçalho que separa diferentes seções do menu -->
                <div class="sb-sidenav-menu-heading">Sistema</div>
                
                <!-- Link de navegação que redireciona o usuário para a página inicial (Home) -->
                <!-- 'routerLink' é uma diretiva Angular que define a rota para onde o link deve direcionar -->
                <a class="nav-link" routerLink="/home">
                    <!-- Div que contém o ícone associado ao link de navegação -->
                    <!-- 'fas fa-tachometer-alt' são classes do Font Awesome que especificam o ícone do velocímetro -->
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <!-- Texto que será exibido ao lado do ícone no link -->
                    Home
                </a>

                <!-- Outro cabeçalho que categoriza a seção de cadastros no menu -->
                <div class="sb-sidenav-menu-heading">Cadastros</div>

                <!-- Link de navegação para a página de clientes -->
                <!-- A classe 'collapsed' indica que o submenu está colapsado (recolhido) por padrão -->
                <!-- A diretiva 'routerLink' especifica a rota para a página de clientes -->
                <!-- Os atributos 'data-toggle', 'data-target', 'aria-expanded' e 'aria-controls' gerenciam o comportamento de colapsar/expandir o submenu -->
                <a class="nav-link collapsed" routerLink="/clientes" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <!-- Div que contém o ícone associado ao link de navegação -->
                    <!-- 'fas fa-columns' são classes do Font Awesome que especificam o ícone de colunas -->
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    <!-- Texto que será exibido ao lado do ícone no link -->
                    Clientes
                </a>

                <!-- Link de navegação para a página de serviços prestados -->
                <!-- Estrutura similar ao link anterior, com um ícone diferente e rota apontando para serviços prestados -->
                <a class="nav-link collapsed" routerLink="/servicos-prestados" 
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <!-- Div que contém o ícone associado ao link de navegação -->
                    <!-- 'fas fa-address-card' são classes do Font Awesome que especificam o ícone de cartão de endereço -->
                    <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                    <!-- Texto que será exibido ao lado do ícone no link -->
                    Serviços Prestados
                </a>

                <!-- Outro cabeçalho para categorizar a seção de logout -->
                <div class="sb-sidenav-menu-heading">Logout</div>

                <!-- Link de navegação para realizar logout -->
                <!-- 'collapsed' indica que o submenu está colapsado por padrão -->
                <!-- A função 'logout()' será chamada quando o link for clicado, e essa função é definida no componente TypeScript associado -->
                <!-- O link também tem atributos de colapsar/expandir, embora eles possam ser redundantes aqui, já que o logout normalmente não teria submenus -->
                <a class="nav-link collapsed" (click)="logout();" href="#"
                    data-toggle="collapse" data-target="#collapseLayouts" 
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <!-- Div que contém o ícone associado ao link de navegação -->
                    <!-- 'fas fa-sign-out-alt' são classes do Font Awesome que especificam o ícone de sair -->
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    <!-- Texto que será exibido ao lado do ícone no link -->
                    Sair
                </a>
            </div>
        </div>

        <!-- Rodapé da navegação lateral -->
        <!-- Exibe informações sobre o usuário atualmente logado -->
        <div class="sb-sidenav-footer">
            <!-- Texto descritivo indicando o usuário logado -->
            <div class="small">Usuário Logado:</div>
            <!-- Exibe o nome do usuário logado utilizando interpolação Angular -->
            {{ usuarioLogado }}
        </div>
    </nav>
</div>
